//Footer
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem;
    padding: 4rem 29rem 2rem 29rem;
    background-color: #000;
    color: #fff;
}

.footer img {
    width: 7.5rem;
    height: 2.5rem;
}

.footer p {
    @include font;
    font-size: 1.5rem;
    text-align: center;
}

/****** Media queries ***********/
@media screen and (max-width: 768px) {
    .footer {
        position: absolute;
        bottom: 0;
        gap: 0;
        padding: 4rem 7rem 3rem 7rem;
    }

    .footer p {
        font-size: 0.75rem;
    }
}