//Header
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45rem;
    padding: 3rem 0; 
}

//Nav
.header-nav{
    display: flex;
    gap: 3.5rem; 
    @include font;
    font-size: 1.5rem;
}

.header-link-active{
    color : $colorPrimary;
    text-decoration: underline;
}

.header-link-inactive{
    color : $colorPrimary;
    text-decoration: none;
}

/****** Media queries ***********/
@media screen and (max-width: 768px){
    .header{
        gap: 60px;
        padding: 1.25rem; 
    }

    .header img{
        width: 9rem;
        height: 3rem; 
    }

    .header-nav{
        display: flex;
        gap: 1.5rem; 
        font-size: 0.75rem; 
    }
}